.loginPage {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}
.loginBanner {
    min-height: 100vh;
    height: 100%;
    flex: 2;
    background-color: #0284fe;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    .title-xxl {
        font-size: 48px;
        font-weight: 800;
    }
    .text-xl {
        font-size: 18px;
        font-weight: 600;
    }
}
.login-form-container {
    flex: 2;

    // position: relative;
    .login-form {
        margin: auto;
        // height: 100%;
        width: 80%;

        padding: 70px 50px 20px 50px;
        .login-title {
            color: #31314f;
            font-size: 32px;
            font-weight: 700;
            line-height: 42px;
            text-align: center;
        }
        .login-input {
            display: block;
            width: 100%;
            background-color: #edf2f7;
            border-radius: 6px;
            padding: 14px 24px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
            border: 1px solid #eeeeee;
            outline: none;
            &::placeholder {
                color: #b6bfc9;
            }
        }

        .login-label {
            letter-spacing: 0.5px;
            display: block;
            margin-top: 30px;
            font-size: 14px;
            font-weight: 500;
        }
        .pass-input {
            position: relative;
            // background-color: #0284fe;
        }
        .show-hide_pass {
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .login-row {
            width: 100%;
            // margin: 14px -30px 14px -10px;
            margin-top: 24px;
            margin-bottom: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                display: flex;
                align-items: center;
                color: #31314f;
                .login-check-label {
                    margin-left: 8px;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
        .login-button {
            margin-top: 20px;
            width: 100%;
            background-color: #0284fe;
            color: #fff;
            padding: 15px 0;
            font-size: 16px;
            font-weight: 600;
            border-radius: 8px;
            cursor: pointer;
            outline: none;
            border: none;
        }
    }
    .login-secondary-text-container {
        width: 80%;
        margin: auto;
        padding: 12px 50px;
        .login-secondary-text {
            color: #31314f;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .login-secondary-link {
        margin-left: 12px;
        color: #0284fe;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
    }
}
