.societe-page-wrapper {
    width: 100%;
    min-height: 100vh;
    .first-section {
        background-color: #f7f7f9;
        // margin: 40px;
        padding: 50px;
        width: 100%;
        // margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        .seach-box-container {
            width: 100%;
        }
        .first-section-text {
            width: 100%;
            // margin: 24px auto;
            text-align: left;
            padding: 22px 16px;
            .first-section-title {
                font-size: 32px;
                color: #101320;
                margin-bottom: 12px;
            }
            p {
                font-size: 13px;
                font-weight: 500;
                color: #8489a6;
            }
        }
    }
}
